body{
	position:relative;
	width:100%;
	height:100vh;
	font-family: 'Lato', Helvetica;
	color:#555;
    font-size: 16px;
    line-height: 38px;
	margin:0;
	padding:0;
}

@media only screen and (max-width: 700px) {
  body {
    font-size:16px;
    line-height: 30px;
  }
  svg.img{
    transform: scale(0.8);
  }
  .content{
	padding-top: 60px;
	margin-left: 27px !important;
	padding-right: 54px !important;
  }
  .heading{
    transform:scale(0.7);
  }

}

table {
	border:none;
	box-shadow: 0px 0px 10px #0005;
	padding:20px;
  background: linear-gradient(90deg,#334,#223);
  border-radius:4px;
}
table tr td,
table tr th {
	vertical-align:top;
	text-align:left;
	border-bottom:1px solid #555;
  color:#999;
}
table tr td a:visited,
table tr td a:active,
table tr td a{
  color:#DDD;
}
table tr:last-child td{
	border:none;
}
table tr th {
	border-bottom:2px solid #BBB;
}

code{
	display: inline-block;
	unicode-bidi: embed;
	font-family: monospace;
	white-space: pre;
	background: #65E;
	margin-bottom: 5px;
	padding: 0px 5px;
	font-size:16px;
}

.white{
	color:#FFF;
}

.date{
  color:#FFF;
  background:transparent;
}

.content {
	height:99vh;
	max-width: 40em;
	width: 100%;
	margin: 0 auto;
	padding-top:60px;
    box-sizing:border-box;
}

a,a:visited,a:active{
	color:#555;
	display:inline-block;
}
a:hover{
	color:#FFF;
	background-color:#000;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/font/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

#sidemenu {
	position:absolute;
	top:0;
	left:0;
}

#sidemenu nav {
	width: 300px;
	box-shadow: 0px 0px 8px #0005;
	background:#FFF;
	z-index:10;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	height:100vh;
}
#sidemenu .sidemenu__btn {
  display: block;
  width: 50px;
  height: 50px;
  top:20px;
  left:20px;
  background: transparent;
  border: none;
  position: fixed;
  z-index: 100;
  -webkit-appearance: none;
     -moz-appearance: none;
  		appearance: none;
  cursor: pointer;
  outline: none;
}
#sidemenu .sidemenu__btn span {
  display: block;
  width: 30px;
  height: 3px;
  margin: auto;
  background:#000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
#sidemenu .sidemenu__btn span.top {
  -webkit-transform: translateY(-8px);
  		transform: translateY(-8px);
}
#sidemenu .sidemenu__btn span.bottom {
  -webkit-transform: translateY(8px);
  		transform: translateY(8px);
}
#sidemenu .sidemenu__btn.active .top {
  -webkit-transform: rotate(-45deg);
  		transform: rotate(-45deg);
}
#sidemenu .sidemenu__btn.active .mid {
  -webkit-transform: translateX(-20px) rotate(360deg);
  		transform: translateX(-20px) rotate(360deg);
  opacity: 0;
}
#sidemenu .sidemenu__btn.active .bottom {
  -webkit-transform: rotate(45deg);
  		transform: rotate(45deg);
}
#sidemenu .sidemenu__wrapper {
  padding-top: 70px;
  margin-left:20px;
}
#sidemenu .sidemenu__list {
  overflow-y: scroll;
  max-height: 73vh;
  padding-top: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}
  #sidemenu .sidemenu__item {
  	padding: 0;
  }
#sidemenu li > a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: .4s ease;
  transition: .4s ease;
	cursor: pointer;
}

nav {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-transform: translateX(0px);
  		transform: translateX(0px);
  opacity:1;
}

nav.hide {
  -webkit-transform: translateX(-300px);
  		transform: translateX(-300px);
  opacity:0;
}

ul {
	margin-left:30px;
}
ul:nth-child(1){
	margin:0;
}

ul,li{
	text-decoration:none !important;
	list-style:none;
	padding-left:10px;
	padding-right:10px;
}

li > a,
li > a.visited,
li > a.active{
	color:#555;
	padding:5px;
}
li > b {
	background:#FFF;
	padding:5px;
}

.sidemenu__list > li,
.sidemenu__list > ul > li{
	display:inline-block;
}

ul > li {
  display:block;
}

.content ul > li::before {content: "•"; padding-right:10px;color: #54F;}

li > b {
	font-weight:100;
}

.touchscreen {
	border:30px solid #aab5bb;
	border-radius:20px;
	position:relative;
}
.touchscreen:after {
	content:"";
	display:block;
	position:absolute;
	border-radius:50%;
	width:15px;
	height:15px;
	background:#FFF;
	top:136px;
	right:-22px;

}

div.pretty{
	border-radius: 4px;
	display: block;
	background: #372e42;
	overflow-x: scroll;
  white-space:pre-wrap;
  color:#65e;
}

code.pretty,
div.pretty > pre > code{
	background: -webkit-linear-gradient(-70deg,#98a7f0,#0d4e50);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border: none;
	text-shadow: 0px 0px 5px #fff9;
	filter: brightness(1.8);
	font-size:14px;
	width:98%;
	padding:0px 15px;
	margin:0;
	box-sizing:border-box;
	line-height:20px;
}

blockquote{
  box-sizing: border-box;
  background: #65E;
  border-radius: 7px;
  padding: 20px;
  width: 100%;
  margin: 30px 0px 20px 0px;
  color: #FFF;
  font-weight: bold;
}
blockquote a {
	color:#000 !important;
}
blockquote a:hover {
	color:#FFF !important;
    background:#000;
}

img {
  width:100%;
  filter: brightness(0.97)
}
