<div
    class="slide"
    style="color: rgb(255, 255, 255); background-color: rgb(35, 35, 35); padding-top: 52.5%;"
    data-type="image"
    data-width="40%"
    data-height="30%"
    data-imagewidth="1280"
    data-imageheight="672"
    data-textcolor="#fff"
    data-color1="#111111"
    data-color2="#232323"
    data-color3="#4B4B4B"
    data-color4="#888888"
    data-color5=""
    data-color6=""
    data-color7=""
    data-videoformats="h264 vp8"
    data-polygon=""
>
    <a name="1" class="internal"></a>
    <div class="post" style="top: 5%; left: 5%; width: 40%; height: 30%;">
        <div class="heading">
            <h2>Blender as Aframe IDE</h2>
            <p>
                <code>$ git clone https://github.com/silverslade/aframe_blender_exporter</code><br />
                <code>$ ./blender</code><br />
            </p>
        </div>
    </div>
    <img class="image active" src="/assets/media/exportingaframe/1280.jpg" data-url="exportingaframe" width="1280" height="672" />
</div>

<style type="text/css">
.slide{
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	width: 100%;
	height: auto;
	clear: both;
	overflow: hidden;
	position: relative;
}

.slide post{
	left: 5% !important;
}

.post{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font: 300 1em/1.6em 'Lato',helvetica, arial, sans-serif;
	z-index: 5;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

.slide .image {
	float: none;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/* dark background, white hamburgermenu */

#sidemenu .sidemenu__btn span {
	background:#FFF;
}
.slide,
.content,
html{ 
	max-width:unset;
	background:#191919 !important;
}

</style>
