<div id="main">
    <div
        class="slide"
        style="color: rgb(255, 255, 255); background-color: rgb(76, 76, 76); padding-top: 80.3711%;"
        data-type="video"
        data-width="40%"
        data-height="30%"
        data-imagewidth="1024"
        data-imageheight="823"
        data-textcolor="#fff"
        data-color1="#1F1F1F"
        data-color2="#4C4C4C"
        data-color3="#6F6F6F"
        data-color4="#9D9D9D"
        data-color5="#D2D2D2"
        data-color6=""
        data-color7=""
        data-videoformats="h264 vp8"
        data-polygon=""
    >
        <a name="1" class="internal"></a>
        <div class="post" style="top: 5%; left: 5%; width: 40%; height: 30%">
            <div class="heading">
                <h2>SVG logo</h2>
                <p>
                    <code>$ firefox https://inkscape.org/download</code><br />
                    <code>$ ./inkscape</code><br />
                    <code>$ cp logo.svg ~/project/searxr/.</code><br />
                </p>
            </div>
        </div>
        <img class="image active" src="/assets/media/logo/1024.jpg" data-url="logo" width="1024" height="823" />
        <div class="progress"><div class="bar" style="width: 100%;"></div></div>
        <video class="image active" poster="/assets/media/logo/1024.jpg" alt="" autoplay="autoplay" loop="loop" preload="auto" width="813" height="654">
            <source src="/assets/media/logo/1024-h264.mp4" type="video/mp4" data-extension="h264.mp4" />
            <source src="/assets/media/logo/1024-vp8.webm" type="video/webm; codecs=vp8" data-extension="vp8.webm" />
        </video>
    </div>
    <div
        class="slide"
        style="color: rgb(255, 255, 255); background-color: rgb(39, 39, 39); padding-top: 76.7188%;"
        data-type="video"
        data-width="40%"
        data-height="30%"
        data-imagewidth="640"
        data-imageheight="491"
        data-textcolor="#fff"
        data-color1="#0C0C0C"
        data-color2="#272727"
        data-color3="#606060"
        data-color4="#A0A0A0"
        data-color5="#D7D7D7"
        data-color6=""
        data-color7=""
        data-videoformats="h264 vp8"
        data-polygon=""
    >
        <a name="2" class="internal"></a>
        <div class="post" style="top: 5%; left: 5%; width: 40%; height: 30%;">
            <div class="heading">
                <h2>CSS vector animation</h2>
                <p>
                    <code>$ firefox https://webmaker.app</code><br />
                    <code>$ cp ~/Downloads/loader.html ~/projects/searxr/.</code><br />
                </p>
            </div>
        </div>
        <img class="image active" src="/assets/media/css-animation/640.jpg" data-url="media/css-animation" width="640" height="491" />
        <div class="progress active"><div class="bar" style="width: 62.2642%;"></div></div>
        <video class="image" poster="/assets/media/css-animation/640.jpg" alt="" autoplay="autoplay" loop="loop" preload="auto" width="813" height="624">
            <source src="/assets/media/css-animation/640-h264.mp4" type="video/mp4" data-extension="h264.mp4" />
            <source src="/assets/media/css-animation/640-vp8.webm" type="video/webm; codecs=vp8" data-extension="vp8.webm" />
        </video>
    </div>
</div>

<style type="text/css">
.slide{
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	width: 100%;
	height: auto;
	clear: both;
	overflow: hidden;
	position: relative;
}

.slide post{
	left: 5% !important;
}

.post{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font: 300 1em/1.6em 'Lato',helvetica, arial, sans-serif;
	z-index: 5;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

.slide .image {
	float: none;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.slide,
.content,
html{ 
	max-width:unset;
	background:#FFF !important;
}
.content{
	padding-top:80px;
}
</style>
