<div id="main">
    <div
        class="slide"
        style="padding-top: 76.7188%;"
        data-type="video"
        data-width="40%"
        data-height="30%"
        data-imagewidth="640"
        data-imageheight="491"
        data-textcolor="#fff"
        data-color1="#0C0C0C"
        data-color2="#272727"
        data-color3="#606060"
        data-color4="#A0A0A0"
        data-color5="#D7D7D7"
        data-color6=""
        data-color7=""
        data-videoformats="h264 vp8"
        data-polygon=""
    >
        <a name="2" class="internal"></a>
        <div class="post" style="width: 90%; height: 50%; left:3%;">
            <div class="heading">
                <h2>Documentation Generators?</h2>
                <p>
					<code class="white">grep '\*' src/\* | sed 's/\/\\\*/\#\#/g;s/^ \\* //g;s/\\\*\///g;s/\\\*//g' >> README.md</code><br>
					<br>
					So much tools, so little time.<br>
					If git repositories use markdown these days..<br>
					And mr. <b>grep</b> and mrs. <b>sed</b> are at your fingertips..<br>
					Then <a href="https://gitlab.com/searxr/aframe-searxr/-/blob/master/src/js/SEARXR.js#L23">code-comments as markdown</a> can be <a href="https://gitlab.com/searxr/aframe-searxr/-/blob/master/src/build.sh#L4">extracted</a> easily perhaps?<br><br> ( <a href="https://gitlab.com/searxr/aframe-searxr/-/blob/master/doc">example output</a> )<br>
                </p>
            </div>
        </div>
        <div class="progress active"><div class="bar" style="width: 62.2642%;"></div></div>
    </div>
</div>

<style type="text/css">
.slide{
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	width: 100%;
	height: auto;
	clear: both;
	overflow: hidden;
	position: relative;
}

.slide post{
	left: 5% !important;
}

.content{
	width:100% !important;
	filter: invert(1) hue-rotate(170deg);
}

html,.slide,#main,.content{
	background: #FFF9 !important;
}

code{
	overflow-x: scroll;
	max-width: 100%;
}

body{
	background: url(/assets/media/generate.png) no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
}

.post{
	text-align:right;
    color:#222;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font: 300 1em/1.6em 'Lato',helvetica, arial, sans-serif;
	z-index: 5;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

.slide .image {
	float: none;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.content{
	padding-top:80px;
}
</style>
