<h1>CSS3D and WebGL</h1>

<p>
Both CSS and WebGL have their strong points, in different scenarios.<br>
For example, HTML/CSS3D input-elements are very optimized for smartphone-users.<br>
Here's a small <b>performance-matrix</b> which <b>SearXR</b> uses to decide which ui-technology has the best performance/UX-ratio:<br>
</p>

<center>
  <table>
      <tr>
          <td style="min-width:120px;font-weight:bold;text-align:center;vertical-align:bottom">scenario</td><td style="min-width:120px;font-weight:bold;text-align:center;vertical-align:bottom">HTML/CSS3D <br>ui-elements</td><td style="min-width:120px;font-weight:bold;text-align:center;vertical-align:bottom">HTML-2-canvas <br>ui-elements <br>(AFRAME)</td><td style="min-width:120px;font-weight:bold;text-align:center;vertical-align:bottom">WebGL<br> custom <br>ui elements</td><td style="min-width:120px;font-weight:bold;text-align:center;vertical-align:bottom">Iframe (*)</td>
      </tr>
      <tr>
          <td>smartphone AR</td><td style="text-align:center">✓</td><td> </td><td> </td><td style="text-align:center">✓</td>
      </tr>
      <tr>
          <td>tablet AR</td><td style="text-align:center">✓</td><td> </td><td> </td><td style="text-align:center">✓</td>
      </tr>
      <tr>
          <td>desktop 3D</td><td style="text-align:center">✓</td><td> </td><td> </td><td style="text-align:center">✓</td>
      </tr>
      <tr>
          <td>smartphone VR</td><td></td><td style="text-align:center">✓</td><td style="text-align:center">✓</td><td></td>
      </tr>
      <tr>
          <td>headset VR</td><td></td><td style="text-align:center">✓</td><td style="text-align:center">✓</td><td></td>
      </tr>
  </table>
</center>

<p>
* = only same-origin iframe's can ensure a nice UX.
</p>

<blockquote>
<b>NOTE:</b> the pattern seems to be, that stereoscopic vision automatically disqualifies HTML/CSS3D. 
</blockquote>

<h2>Rule engine to the rescue</h2>

<p>
SearXR uses a tiny rule engine for feature-sensemaking.<br>
Basically, functions only fire when certain conditions are met:
</p>

<a href="$(render url)/assets/media/rules.jpg" target="_blank">
    <img src="$(render url)/assets/media/rules.jpg" width="100%"/>
</a>

ps. click image for enlarged version

